{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% include "blog/search-blog.html" %}

<h1>Hello World</h1>


{% for object in object_list %}
<li>
    <a href='/blog/{{ object.id }}'>{{ object.title }}</a>
   <!--  <a href='{% url "blog:detail" id=object.id %}'>{{ object.title }}</a>
    <a href='{{ object.get_absolute_url }}'>{{ object.title }}</a> -->

</li>
{% endfor %}


{{   array_list }}

{{ num }}


{{ boolean_value }}